eval_20250316_112338
jpg
fake_generated_images
generated_images
__pycache__
./data/sayakpaul___coco-30-val-2014/*
*.DS_Store

# Eric's local dataset folder
# CoPro Dataset/*

# EDA visualizations
data/eda_visualizations/*.png
evaluation/data
.DS_Store


Imp/
test_asr.py 
test_asr_mock.py
verify_asr.py
run_asr_analysis.py
test_images/
convert_jpg.py
